<section class="section">
  <div class="container">
    <div class="col-md-4">
      <%= image_tag "user8" %>
      <%= current_user.name %>
      <ul>
        <li><%= link_to "Quan ly tai khoan", root_path, class:"btn" %></li>
        <li><%= link_to "AAAAAAAaa", root_path, class:"btn" %></li>
        <li><%= link_to "AAAAAAAaa", root_path, class:"btn" %></li>
        <li><%= link_to "AAAAAAAaa", root_path, class:"btn" %></li>
        <li><%= link_to "AAAAAAAaa", root_path, class:"btn" %></li>
        <li><%= link_to "AAAAAAAaa", root_path, class:"btn" %></li>
      </ul>
    </div>
    <div class="col-md-8">
    </div>
  </div>
</section>
